*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans";
  letter-spacing: 0.25px;
  line-height: 1.25;
  color: $dark;
}

.app-container {
  background: $dark-green;
  background: linear-gradient(135deg, $light-green 0%, $dark-green 100%);
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  min-height: 100vh;
}

.app {
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 3rem;
  box-shadow: 0px 3px 6px hsla(0, 0%, 0%, .25);
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
