.block-list {
  display: flex;
  .block-list-item {
    display: flex;
    align-items: flex-start;
    .block-list-component {
      flex: 1 1 auto;
    }
    .simple-block-list-component {
      display: flex;
      align-items: flex-start;
      flex: 1 1 auto;
      .block-list-delete {
        margin-left: 0.75rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .block-list-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 2px $light dashed;
    &:hover {
      background: $very-light;
      cursor: pointer;
    }
    p {
      margin-bottom: 0;
      font-size: 1rem;
    }
    i {
      font-size: 1.5rem;
    }
  }
}
