@mixin button($color) {
  color: $color;
  border-color: $color;
  &:hover {
    background-color: $color;
    color: white;
  }
}

a.button {
  padding: 0.5rem 1rem;
  text-align: center;
}

button {
  padding: 0.6rem 1rem 0.6rem 1rem;
}

a.button, button {
  font-family: inherit;
  letter-spacing: inherit;
  appearance: none;
  transition-duration: 0.35s;
  transition-property: color, background-color;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: 600;
  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }
}

a.button:disabled, button:disabled {
  @include button($light !important);
  pointer-events: none;
}
