.character-editor {
  .ability-list,
  .weapon-list,
  .armor-list,
  .inventory-list,
  .member-list,
  .artifact-list {
    flex-wrap: wrap;
    font-size: 0.875rem;
    justify-content: space-between;
    label {
      flex-basis: 30%;
    }
    .block-list-item, .block-list-new {
      flex-basis: 47.5%;
      &:not(:last-child) {
        margin-bottom: 2.5rem;
      }
      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }
    .block-list-new:nth-child(odd) {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      flex: 1 1 auto;
    }
  }
  label {
    flex-basis: 30%;
  }
  .weapon-list {
    margin-bottom: 2rem;
  }
  .home {
    @include button($dark-green);
  }
  .download, .print {
    @include button($blue);
  }
  .delete {
    @include button($red);
  }
  .footer {
    display: flex;
    .home {
      margin-right: auto;
    }
    *:not(.home) {
      margin-left: 1rem;
    }
  }
}

.character-editor .group {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  &:not(:nth-last-child(-n+2)) {
    border-bottom: 1px $light solid;
  }
  &.col-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .group-header {
      flex-basis: 100%;
    }
    > *:not(.group-header) {
      flex-basis: 47.5%;
      label {
        flex-basis: 35%;
      }
      &:nth-child(odd) {
        padding-left: 0.5rem;
      }
      &:nth-child(even) {
        padding-right: 0.5rem;
      }
    }
  }
  &.attributes label {
    padding-right: 0;
  }
  .group-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .header a.home {
    position: relative;
    bottom: 0.5rem;
  }
}
