.field {
  display: flex;
  align-items: baseline;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  label {
    padding-top: 3px;
    padding-right: 1rem;
  }
  input {
    min-width: 0px;
    &[type='number'] {
      appearance: none;
    }
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      appearance: none;
    }
  }
  select {
    background-color: transparent;
  }
  textarea {
    resize: vertical;
  }
  input, select, textarea {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid $light;
  }
}
