$light-green: #66823e;
$dark-green: #417a3e;
$very-light: hsl(0, 0%, 95%);
$light: hsl(0, 0%, 80%);
$med: hsl(0, 0%, 40%);
$med-dark: hsl(0, 0%, 25%);
$dark: hsl(0, 0%, 10%);
$red: #963C3C;
$blue: #4152A3;
